<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex.gt-sm="30" fxFlex>
    <md-card>
      <md-card-content align="center">
        <span>
      <md-card-subtitle>
        The winner is:
      </md-card-subtitle>
      <md-card-title>
        {{winner}}
      </md-card-title>
    </span>
      </md-card-content>
      <md-card-actions align="center">
        <button md-icon-button color="primary" md-raised-button (click)="restart()" [disabled]="status != 'finish'">
      <md-icon>replay</md-icon>
    </button>
        <button md-icon-button color="accent" md-raised-button (click)="start()" [disabled]="status != 'prepare'">
      <md-icon>play_arrow</md-icon>
    </button>
        <button md-icon-button color="warn" md-raised-button (click)="stop()" [disabled]="status != 'start'">
      <md-icon>stop</md-icon>
    </button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex.gt-sm="30" fxFlex>
      <md-grid-list cols="1">
        <md-grid-tile>
          <img [src]="image">
          <md-grid-tile-footer>
            <span md-line>{{winner}}</span>
            <md-icon>info</md-icon>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>
<div>
  <app-winners [data]="theWinners"></app-winners>
</div>
