<div fxLayout="row" fxFlex>
  <div fxFlex="33.33"></div>
  <div fxFlex="33.33">
    <div fxLayout="row" fxLayoutAlign="end">
      <div fxFlex.gt-xs="100" fxFlex>
        <md-grid-list cols="1">
          <md-grid-tile>
            <img [src]="image">
            <md-grid-tile-footer>
              <h3 md-line>{{winner | name}}</h3>
              <p md-line>{{index}}</p>
              <md-icon>info</md-icon>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
        <md-card>
          <md-card-content align="center">
            <button md-icon-button color="primary" md-raised-button (click)="restart()" [disabled]="status != 'finish'">
      <md-icon>replay</md-icon>
    </button>
            <button md-icon-button color="accent" md-raised-button (click)="start()" [disabled]="status != 'prepare'">
      <md-icon>play_arrow</md-icon>
    </button>
            <button md-icon-button color="warn" md-raised-button (click)="stop()" [disabled]="status != 'start'">
      <md-icon>stop</md-icon>
    </button>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
  <div fxFlex="33.33" fxLayout="row" fxLayoutAlign="end">
    <app-winners fxFlex="66.6" [data]="theWinners"></app-winners>
  </div>
</div>
